my_sentence = str(input("Please type in a sentence.\n: "))
my_sentence = my_sentence.upper().split(" ")
print (my_sentence)

my_word = str(input("Please type in a word you are looking for.\n: "))
my_word = my_word.upper()
print(my_word)

positions = []
for index in range (len(my_sentence)):
    if my_word == my_sentence[index]:
        positions.append(index + 1)
if len(positions) > 0:
	print("The word",my_word,"Is found in the positions",positions)
else:
    print("The word",my_word,"Is not found in the sentence")
